

// Colors
$color-primary: #1dc5d1;
$color-secondary: #158891;
$color-white: #f0f0f0;
$color-dark: #000000;
$color-primary-light: #05bac7;
$color-primary-dark: #049ca7;
$color-gray-light: #f7f7f7;
$text-color-gray: #777;
$text-color-gray-2: #999;
$color-dangeer: #c33326; 
$color-gray-dark: #333333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ad8106;

$color-tertiary-light: #0011ff;
$color-tertiary-dark: #0410b3;

$icon-color-gray: #888;



//Font 
$default-font-size: 1.6rem;
$font-color-light-dark: rgb(82, 80, 80);

//GRID
$grid-width: 144rem; 
$grid-width-small: 50rem; 
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 8rem;

